{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
{% trans 'ERROR 500' %}
{% endblock %}

{% block header %}
{% include 'planwi/components/headers/header.html' %}
{% endblock %}


{% block container %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Container -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <section id="not-found" class="center">
                    <!--h2>500 <i class="fa fa-question-circle"></i></h2-->
                    <!--h2><img src="{%static 'img/annulled-square-face.svg'%}" alt="" width="130px"> 500</h2-->
                    <h2>500 <img src="{%static 'img/annulled-square-face.svg'%}" alt="" width="150px"></h2>
                    <p>{% trans 'LO SENTIMOS MUCHO, ocurrio un error interno en el servidor.'%}</p><br>

                    <a href="{% url 'landing' %}" class="button with-icon margin-top-50 margin-bottom-0 ">
                        <i class="fa fa-arrow-left "></i>{% trans 'Ir al Inicio' %}
                    </a>
                    <!-- Search -->
                    <!--div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="main-search-input gray-style margin-top-50 margin-bottom-10">
                                <div class="main-search-input-item">
                                    <input type="text" placeholder="What are you looking for?" value=""/>
                                </div>

                                <button class="button">Search</button>
                            </div>
                        </div>
                    </div-->
                    <!-- Search Section / End -->


                </section>

            </div>
        </div>

    </div>
</div>
<!-- Container / End -->


{% include 'planwi/components/footers/footer_dark.html' %}
{% endblock %}
