/*============================
    Banner Style
==============================*/ 

.ht-banner{

    
    &.banner-1{
        margin-top: 4px;
    }

    &.banner-2{
        margin-top: 30px;
    }

    &.banner-3{
        margin-top: 30px;
    }

    &.banner-4{
        margin-top: 30px;
    }

    .thumb{
        a{
            overflow: hidden;
            position: relative;
            display: block;
            &::before{
                background: #ffffff none repeat scroll 0 0;
                content: "";
                height: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                transition: all 0.5s ease 0s;
                width: 0;
            }
            &::after{
                background: #ffffff none repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                transition: all 0.5s ease 0s;
                width: 0;
            }
            img{
                width: 100%;
            }
        }
    }

    &:hover .thumb a::before{
        height: 100%;
        opacity: 0.3;
        width: 100%;
    }

    &:hover .thumb a::after{
        height: 100%;
        opacity: 0.3;
        width: 100%;
    }

    &.banner-4{
        position: relative;
        z-index: 2;
        .thumb{
            a{
                display: block;
                z-index: 2;
                overflow: visible;
                &::after{
                    display: none;
                }
                &::before{
                    position: absolute;
                    border: 1px solid #f3a395;
                    width: 100%;
                    height: 100%;
                    content: "";
                    left: -10px;
                    top: 10px;
                    z-index: 1;
                    transition: 0.4s;
                    background: transparent;
                    opacity: 1;
                }
                
            }
        }
        &:hover .thumb a::before{
            top: 0;
            left: 0;
        }
    }
}



.ht-banner {
    position: relative;

    // Banner 1
    &.banner-1{
        .content {
            position: absolute;
            z-index: 2;
            h6{
                color: #1f1e26;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 11px;
                text-transform: uppercase;
                margin-bottom: 0;
                font-family: $body-font;
            }
            h2{
                color: #1f1e26;
                font-size: 60px;
                text-transform: uppercase;
                margin-bottom: 1px;
                font-family: $body-font;
            }
            p{
                color: #1f1e26;
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
            }
            h3{
                color: #1f1e26;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 6px;
                font-family: $body-font;
            }
            a{
                color: #383838;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                border-bottom: 1px solid #909b74;
                transition: 0.4s;
            }
            &.top-right{
                top: 50%;
                right: 0;
                left: auto;
                padding-right: 50px;
                transform: translateY(-50%);
            }
            &.bottom-center{
                bottom: 0;
                width: 100%;
                text-align: center;
                padding-bottom: 40px;
            }
            &.text-white{
                h3 ,
                h2 ,
                p ,
                h6{
                    color: #fff;
                }
                a{
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }

    }

    // Banner 2
    &.banner-2{
        .content {
            position: absolute;
            z-index: 2;
            h3{
                color: #242424;
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 6px;
                font-family: 'Prata', serif;
                
                @media #{$small-mobile} {
                    font-size: 22px;
                }
            }
            p{
                color: #1f1e26;
                font-size: 14px;
                text-transform: uppercase;
                margin: 0;
                font-weight: 400;
                font-family: 'Rubik', sans-serif;
            }
            
            &.top-center{
                top: 0;
                width: 100%;
                text-align: center;
                padding-top: 47px;
            }
            &.bottom-center{
                bottom: 0;
                width: 100%;
                text-align: center;
                padding-bottom: 45px;
            }
            &.text-white{
                h3 ,
                h2 ,
                p ,
                h6{
                    color: #fff;
                }
                a{
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }

    }


    // Banner 3

    &.banner-3{
        .content {
            position: absolute;
            z-index: 2;
            h3{
                color: #ffffff;
                font-size: 20px;
                font-weight: 800;
                margin-bottom: 10px;
                font-family: 'Open Sans', sans-serif;
            }
            p{
                color: #ffffff;
                margin: 0;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                line-height: 26px;
                padding-right: 77px;
                margin-bottom: 15px;

                @media #{$sm-layout} {
                    line-height: 23px;
                    padding-right: 0;
                    margin-bottom: 8px;
                }
            }
            a{
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                background: #ffffff;
                height: 30px;
                display: inline-block;
                padding: 0 15px;
                line-height: 30px;
                color: #000000;
                font-size: 12px;
                border-radius: 20px;
                transition: 0.4s ease-in-out;
                &:hover{
                    background: $theme-color;
                    color: #fff;
                }
            }
            

            &.top-left{
                top: 0;
                width: 100%;
                text-align: left;
                padding-left: 40px;
                padding-top: 40px;
                padding-right: 40px;
            }
            
        }

    }

    // Banner 4

    &.banner-4{
        .content {
            position: absolute;
            z-index: 2;
            h2{
                color: #646161;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
                font-family: 'Rubik', sans-serif;

                @media #{$md-layout} {
                    font-size: 17px;
                }

                span{
                    color: #f3a395;
                }
            }
            span{
                color: #f3a395;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
                font-family: 'Rubik', sans-serif;
            }            
            

            &.center-right{
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                padding-right: 30px;
            }

            &.center-left{
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding-left: 30px;
            }

            &.center-between{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                top: 0;
                width: 100%;
                text-align: center;
                padding: 40px 0;
                height: 100%;
            }
            
        }

    }

}




















