


/*==========================
    CountDown Style
==========================*/

.countbox {
    text-align: center;
    .ht-count {
        display: inline-block;
        position: relative;
        margin: 0 22px;

        @media #{$sm-layout} {
            margin: 0 16px;
            margin-bottom: 15px;
        }
        
        &::before {
            position: absolute;
            content: ":";
            right: -26px;
            top: 50%;
            transform: translateY(-50%);
            color: #5e5b60;
            font-size: 55px;

            @media #{$small-mobile} {
                display: none;
            }
        }
        &:last-child::before {
            display: none;
        }
    }
}

/*------------------------
    CountDown Style One
-------------------------*/

.countdown-style-1 {
    span {
        &.ht-count {
            padding: 28px 0px;
            border: 2px solid #18012c;
            border-radius: 10px;
            width: 139px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.countdown-style-1 {
    .countbox {
        span {
            &.time-count {
                color: #242424;
                font-size: 36px;
                font-weight: 500;
                display: block;
                padding-bottom: 27px;
                margin-bottom: 27px;
                position: relative;
                font-family: $heading-font;
                &::before {
                    background-image: linear-gradient(to right, rgba(82, 65, 97, 0), rgba(82, 65, 97, 0.8) 40%, rgba(82, 65, 97, 0.8) 60%, rgba(82, 65, 97, 0));
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 84% auto;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
}

.countdown-style-1 {
    .countbox {
        span {
            span {
                &.count-inner {
                    p {
                        color: #242424;
                        font-size: 30px;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }
    }
}

/*------------------------
    CountDown Style 2
-------------------------*/

.countdown-style-2 {
    .ht-count {
        width: 160px;
        height: 160px;
        border: 1px solid #18012c;
        border-radius: 100%;
        overflow: hidden;
        span {
            &.count-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                overflow: hidden !important;
                border-radius: 100%;
                .time-count {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #242424;
                    font-size: 36px;
                    font-weight: 500;
                    padding-top: 10px;
                    font-family: $heading-font;
                }
                p {
                    height: 50%;
                    margin: 0;
                    background: #18012c;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 500;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

/*------------------------
    CountDown Style 3
-------------------------*/

.countdown-style-3 {
    span {
        &.ht-count {
            height: 160px;
            width: 190px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            @media #{$md-layout} {
                height: 146px;
                width: 168px;
                margin-bottom: 20px;
            }
        }
    }
    span {
        &.count-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            .time-count {
                color: #18012c;
                font-size: 60px;
                display: block;
                font-weight: 800;
                padding-bottom: 20px;
                font-family: $heading-font;
            }
            p {
                margin: 0;
                color: #18012c;
                font-size: 30px;
                font-weight: 400;
                margin-top: 17px;
            }
        }
    }
}

/*------------------------
    CountDown Style 4
-------------------------*/

.countdown-style-4 {
    .ht-count {
        margin: 0 15px;
        &::before {
            display: none;
        }
        .count-inner {
            .time-count {
                display: inline-block;
                color: #18012c;
                font-size: 60px;
                font-weight: 800;
                padding-right: 9px;
                line-height: 1;
                font-family: $heading-font;

                @media #{$large-mobile} {
                    font-size: 43px;
                }
            }
            p {
                display: inline-block;
                color: #18012c;
                font-size: 24px;
                margin: 0;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}

/*--------------------------
    CountDown Style 5
----------------------------*/

.countdown-style-5 {
    .countbox {
        position: relative;
        padding-top: 74px;
    }
    .count-inner {
        .time-count {
            font-size: 60px;
            color: #18012c;
            font-weight: 800;
            font-family: $heading-font;
        }
        p {
            color: #18012c;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            margin-top: 6px;
        }
    }
    .ht-count {
        &::before {
            position: absolute;
            content: ":";
            right: -26px;
            top: 21%;
            transform: inherit;
            color: #18012c;
            font-size: 48px;
        }
        &.minutes {
            &::before {
                display: none;
            }
        }
        &.second {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            p {
                display: none;
            }
        }
        .count-inner {
            color: #18012c;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

.countdown-style-5 span.ht-count.second .time-count {
    font-size: 80px;
}

/*--------------------------
    CountDown Style 6
---------------------------*/

.countdown-style-6 {
    .countbox {
        .ht-count::before {
            right: -26px;
            top: 23%;
            font-size: 47px;
        }
    }
    .count-inner {
        p {
            display: none;
        }
        .time-count {
            font-size: 72px;
            font-weight: 800;
            color: #18012c;
        }
    }
}

/*--------------------------
    CountDown Style 7
----------------------------*/

.countdown-style-7 {
    .ht-count {
        background: #18012c;
        color: #fff;
        height: 160px;
        width: 140px;
        border-radius: 10px;

        @media #{$md-layout} {
            height: 155px;
            width: 125px;
        }
        .count-inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .time-count {
                height: 110px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 48px;
                font-weight: 500;
                border-radius: 10px 10px 0 0;
                position: relative;
                z-index: 1;
                &::before {
                    background: linear-gradient(to right, #ff6600, #ff0a00);
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;
                    border-radius: 7px 7px 0 0;
                }
            }
            p {
                margin: 0;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}


