/*===========================
Custom Carousel Style
=============================*/


.ht-custom-carousel{
    .single-custom-carousel{
        img{
            width: 100%;
        }
    }
}

.custom-carousel-active .slick-slide .single-custom-carousel img {
    transition: all 0.3s ease 0s;
    display: block;
}


.custom-carousel-active .single-custom-carousel {
    position: relative;
    transition: all 0.3s ease 0s;
}


.custom-carousel-active .slick-slide.slick-active .single-custom-carousel {
    transform: scale(1.15);
}


.custom-carousel-active .slick-slide.slick-center .single-custom-carousel {
    transform: scale(1.3);
}


.custom-carousel-active .slick-slide.slick-center {
    z-index: 999;
    position: relative;
}

.custom-carousel-active .slick-slide {
    padding: 72px 0;
    transition: all 0.3s ease 0s;
}


/*----------------------
    Slick Dot
-----------------------*/ 


.custom-carousel-active{
    .slick-dots {
        text-align: center;
        bottom: -60px;
        li{
            display: inline-block;
            margin: 0;
            button{
                border: 1px solid #863F51;
                width: 12px;
                height: 12px;
                padding: 0;
                border-radius: 50%;
                background-color: transparent;
                text-indent: -9999px;
            }
            &.slick-active{
                button{
                    background-color: #863F51;
                }
            }
        }
    
    }
}




/*------------------------------
    Custom Carousel Style 2
-------------------------------*/

.custom-carousel-active-2 .slick-slide .single-custom-carousel img {
    transition: all 0.3s ease 0s;
    display: block;
}
.custom-carousel-active-2 .single-custom-carousel {
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 0 40px;
    transform: scale(1.1);
}

.custom-carousel-active-2 .slick-slide.slick-center .single-custom-carousel {
    transform: scale(1.3);
}


.custom-carousel-active-2 .slick-slide.slick-center {
    z-index: 999;
    position: relative;
}

.custom-carousel-active-2 .slick-slide.slick-active {
    transition: all 0.3s ease 0s;
}

.custom-carousel-active-2 .slick-slide {
    padding: 72px 0;
    transition: all 0.3s ease 0s;
}


.custom-carousel-active-2{
    position: relative;
    button{
        position: absolute;
        left: -80px;
        top: 50%;
        transform: translateY(-50%);
        background: #000000;
        color: #f4f4f4;
        width: 40px;
        height: 40px;
        border: 0 none;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        font-size: 30px;
        transition: 0.3s ease-in-out;
        &:hover{
            background: #0056ff;
            color: #fff;
        }
        &.custom-arrow-next{
            left: auto;
            right: -80px;
        }
    }
}


/*------------------------------
    Custom Carousel Style 3
-------------------------------*/


.custom-carousel-active-3 .slick-slide {
    margin: 0px 15px;
}

.custom-carousel-active-3 .slick-list.draggable {
    margin: 0 -15px;
}


.ht-custom-carousel{
    &.arrow-style-3{
        .slick-dots{
            bottom: -60px;
            li{
                width: 10px;
                height: 10px;
                margin: 0 5px;
                padding: 0;
                button{
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    background: #000;
                    border-radius: 100%;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{
                    button{
                        background: #00c8fa;
                    }
                }
            }
        }
    }
}

.ht-custom-carousel {
    position: relative;
    &.arrow-style-3{
        button{
            &.slick-arrow{
                position: absolute;
                bottom: -70px;
                left: 43%;
                border: 0 none;
                color: #00c8fa;
                font-size: 30px;
                padding: 0;
                z-index: 2;
            }
            &.custom-arrow-next{
                &.slick-arrow{
                    left: auto;
                    right: 43%;
                }
            }
        }
    }
}
 
/*------------------------------
    Custom Carousel Style 4
-------------------------------*/


.ht-custom-carousel{
    &.arrow-style-4 {
        position: relative;
        button {
            position: absolute;
            top: 50%;
            left: 0;
            color: #f4f4f4;
            border: 0 none;
            font-size: 30px;
            background: transparent;
            width: 40px;
            height: 50px;
            line-height: 45px;
            background: #000000;
            transform: translateY(-50%);
            z-index: 2;
            &.custom-arrow-next {
                left: auto;
                right: 0;
            }
        }
    }
}

.custom-carousel-active-4 .slick-list {
    margin: 0 -15px;
}

.custom-carousel-active-4 .slick-slide {
    margin: 0px 15px;
}

/*------------------------------
    Custom Carousel Style 5
-------------------------------*/


.custom-carousel-active-5 .slick-slide {
    margin: 0px 15px;
}


.custom-carousel-active-5 .slick-list {
    margin: 0 -15px;
}

.custom-carousel-active-5{
    .slick-dots {
        bottom: -40px;
        background: #dbdbdb;
        height: 8px;
        border-radius: 4px;
        left: 0;
        right: 0;
        width: auto;
        li{
            width: 33.33%;
            height: 8px;
            margin: 0;
            left: 0;
            top: -13px;
            transition: 0.4s ease-in-out;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #0056ff;
                border-radius: 4px;
                transition: 0.4s ease-in-out;
            }
            button{
                width: 33.33%;
                height: 8px;
                margin: 0;
                left: 0;
                &::before{
                    display: none;
                }
            }
            &.slick-active{
                &::before{
                    width: 100%;
                }
            }
        }
    }
}

/*------------------------------
    Custom Carousel Style 6
-------------------------------*/


.ht-custom-carousel{
    &.arrow-style-6 {
        position: relative;
        button {
            position: absolute;
            top: 50%;
            left: 0;
            color: #f4f4f4;
            border: 0 none;
            font-size: 30px;
            background: transparent;
            width: 40px;
            height: 50px;
            background: #000000;
            transform: translateY(-50%);
            z-index: 2;
            padding: 0;
            &.custom-arrow-next {
                left: auto;
                right: 0;
            }
        }
    }
}


.navigation-carousel-6{
    .custom-navigation-wrapper {
        background: #19243c;
        margin-top: -8px;
        .navigation-content{
            padding: 30px 0;
            position: relative;
            z-index: 2;
            text-align: center;
            h6{
                color: #ffffff;
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                span{
                    color: #ff8400;
                    padding-right: 6px;
                }
            }
        }
        .slick-slide{
            cursor: pointer;
        }

        .slick-list {
            overflow: visible;
        }

        .slick-current{
            &.slick-center{
                position: relative;
                z-index: 2;
                display: inline-block;
                &::before{
                    position: absolute;
                    content: "";
                    background: #223152;
                    z-index: 1;
                    width: 100%;
                    height: 116%;
                    bottom: 0;
                    left: 0;
                }
            }
        }

    }
}


/*------------------------------
    Custom Carousel Style 7
-------------------------------*/

.custom-carousel-active-7{
    position: relative;
    button{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        color: #f4f4f4;
        border: 0 none;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        font-size: 48px;
        transition: 0.3s ease-in-out;
        z-index: 1;
        &:hover{
            color: $theme-color;
        }
        &.custom-arrow-next{
            left: auto;
            right: 20px;
        }
    }
}








@media #{$lg-layout}{
    
    .custom-carousel-active-2 .single-custom-carousel {
        padding: 0 28px;
    }
}

@media #{$sm-layout}{
    .custom-carousel-active-2 .single-custom-carousel {
        padding: 0 15px;
    }
    .ht-custom-carousel.arrow-style-3 button.slick-arrow {
        left: 36%;
    }
    .ht-custom-carousel.arrow-style-3 button.custom-arrow-next.slick-arrow {
        right: 36%;
    }
}

@media #{$large-mobile}{
    .custom-carousel-active-2 .slick-slide.slick-center .single-custom-carousel {
        transform: scale(1.1);
    }
}


@media #{$small-mobile}{
    .ht-custom-carousel.arrow-style-3 button.slick-arrow {
        left: 30%;
    }
    .ht-custom-carousel.arrow-style-3 button.custom-arrow-next.slick-arrow {
        right: 30%;
    }

    .navigation-carousel-6 .custom-navigation-wrapper .slick-current.slick-center::before{
        height: 100%;
    }

    .navigation-carousel-6 .custom-navigation-wrapper .navigation-content {
        padding: 17px 0;
    }





    

}













