/*------------------------------
 Pricing List View Style 
-------------------------------*/


/*----------------------
    Table Style 01
------------------------*/ 

.ht-pricing-list-view {
    & .table {
        margin: 0;
        // Head
        & thead {
            & tr {
                & th {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: #5c5c5c;
                    padding: 12px 20px;
                    border-right: 1px solid #d4d4d4;
                    border-left: 1px solid #d4d4d4;
                    font-family: $heading-font;
                    text-transform: inherit;
                }
            }
        }

        // Body
        & td.tb-name {
            & a {
                font-size: 16px;
                font-weight: 600;
                color: $body-color;
            }
        }
        & tbody {
            & tr {
                & td {
                    text-align: center;
                    border: none;
                    padding: 12px 20px;
                    vertical-align: middle;
                    border-bottom: 1px solid #d4d4d4; 
                    color: #5c5c5c;
                    font-size: 16px;
                    border-right: 1px solid #d4d4d4;
                    border-left: 1px solid #d4d4d4;
                    a{
                        color: #5c5c5c;  
                    }
                    
                }
            }
        }
    }
}



/*----------------------
    Table Style 02
------------------------*/ 

.ht-pricing-list-view-2 {
    & .table {
        margin: 0;
        // Head
        & thead {
            & tr {
                & th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #dee2e6;
                    padding: 0;
                    border: 0 none;
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    &:first-child{
                        border-left: 1px solid transparent;
                    }
                    span{
                        text-align: center;
                        font-size: 24px;
                        font-weight: 600;
                        color: #ff6565;
                        font-family: "Montserrat", sans-serif;
                        text-transform: inherit;
                        background: #ffc1c1;
                        display: block;
                        padding: 12px 20px;
                        text-transform: initial;
                    }
                }
            }
        }

        
        & tbody {
            & tr {
                
                & td {
                    text-align: center;
                    border: none;
                    padding: 0;
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff; 

                    &:first-child{
                        border-left: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                    }
                    
                    
                    span{
                        padding: 12px 20px;
                        vertical-align: middle;
                        color: #ffffff;
                        font-size: 16px;
                        background: #ff8686;
                        display: block;

                        @media #{$md-layout} {
                            padding: 12px 3px;
                        }

                        i{
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }
                    a{
                        color: #ffffff;  
                    }
                    
                }
            }
        }

        // Body
        & td.tb-name {
            & a {
                font-size: 16px;
                font-weight: 600;
                color: $body-color;
            }
        }
    }
}






/* ht-pricing-list-view-3 */

.ht-pricing-list-view-3{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            margin-bottom: 25px;
            a{
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;

                .price-list-text{
                    flex: 1;
                    min-width: 1px;
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    span{
                        color: #373737;
                        font-weight: 600;
                        font-size: 20px;

                        &.separator{
                            margin-left: 20px;
                            border-bottom-style: dotted;
                            border-bottom-width: 1px;
                            height: 0;
                            color: #ccc;
                            border-bottom-style: dashed;
                            border-bottom-color: #b9b9b9;
                            flex: 1;
                            min-width: 1px;
                            
                            @media #{$sm-layout} {
                                display: none;
                            }
                        }
                    }
                }
                .price-text-right{
                    display: inline-flex;
                    width: auto;
                    padding-left: 20px;
                    span{
                        &.price{
                            background: #ff8686;
                            display: inline-block;
                            color: #ffffff;
                            font-weight: 600;
                            font-size: 20px;
                            height: 45px;
                            padding: 0 33px;
                            line-height: 46px;
                            margin-right: 10px;
                            border-radius: 22px;

                            @media #{$sm-layout} {
                                font-size: 14px;
                                height: 45px;
                                padding: 0 19px;
                                margin-right: 4px;
                            }
                        }
                        &.basket{
                            background: #ff9898;
                            height: 45px;
                            line-height: 44px;
                            width: 45px;
                            text-align: center;
                            border-radius: 100%;
                            color: #fff;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
















