/*=================================
    Slider Navigation Css
===================================*/ 




.navigation-slider{
    nav{
        a {
            position: absolute;
            top: 50%;
            display: block;
            outline: none;
            text-align: left;
            z-index: 1000;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            &.prev{
                left: 0;
            }
            &.next{
                right: 0;
            }
        }
    }
}



/*--------------------*/
/* Slide out */
/*--------------------*/

.navigation-slider{

    /*--------------------*/
    /*  Image Slider */
    /*--------------------*/  

    .nav-slide {
        .icon-wrap {
            position: relative;
            z-index: 100;
            display: block;
            padding: 20px;
            background-color: #fff;
            i {
                font-size: 31px;
                color: #000;
            }
        }

        div {
            position: absolute;
            top: 50%;
            padding: 0 100px;
            background-color: #34495e;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }
        a{

            &.prev{
                div {
                    left: 0;
                    padding-right: 120px;
                    -webkit-transform: translateY(-50%) translateX(-100%);
                    transform: translateY(-50%) translateX(-100%);
                    @media #{$sm-layout} {
                        display: none;
                    }
                }
            }
            &.next{
                div {
                    right: 0;
                    padding-left: 120px;
                    text-align: right;
                    -webkit-transform: translateY(-50%) translateX(100%);
                    transform: translateY(-50%) translateX(100%);
                    @media #{$sm-layout} {
                        display: none;
                    }
                }
            }
            &:hover div{
                -webkit-transform: translateY(-50%) translateX(0); 
                transform: translateY(-50%) translateX(0);
            }

        }

        img {
            position: absolute;
            top: 0;
            height: 100%;
        }
        a{

            &.prev{
                img{
                    right: 0;
                }
            }

            &.next{
                img{
                    left: 0;
                }
            }

        }
        h3{
            position: relative;
            margin: 0;
            padding: 20px 0;
            color: #fff;
            white-space: nowrap;
            font-weight: 300;
            font-size: 1.3em;
            line-height: 1.5;
            span{
                display: block;
                color: #95a5a6;
                font-style: italic;
                font-size: 65%;
            }
        }
    }

    /*--------------------*/
    /*  Image bar */
    /*--------------------*/

    .nav-imgbar{
        a{
            overflow: hidden;
            width: 100px;
            height: 100%;
            background-color: transparent;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
        }
        .icon-wrap{
            position: relative;
            top: 50%;
            z-index: 100;
            display: block;
            margin: 0 auto;
            padding: 30px;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            i{
                font-size: 31px;
                color: #ffffff;
            }
        }
        img{
            position: absolute;
            top: 0;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
        }
        a{

            &.prev{
                .icon-wrap{
                    -webkit-transform: translateY(-50%) translateX(10px);
                    transform: translateY(-50%) translateX(10px);
                }
                img{
                    left: 0;
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
            }

            &.next{
                .icon-wrap{
                    -webkit-transform: translateY(-50%) translateX(-10px);
	                transform: translateY(-50%) translateX(-10px);
                }
                img{
                    right: 0;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }

            &:hover{
                background-color: rgba(255,255,255,0.7);
            }
            &:hover .icon-wrap{
                -webkit-transform: translateY(-50%) translateX(0);
                transform: translateY(-50%) translateX(0);
            }
            &:hover img{
                opacity: 0.6;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

        }
    }


    /*--------------------*/
    /* Slit Nav */
    /*--------------------*/
    .nav-slit{
        .icon-wrap {
            position: relative;
            display: block;
            padding: 45px 16px;
            background-color: #939a9f;
            i{
                color: #fff;
                font-size: 30px;
            }
        }
        div{
            position: absolute;
            top: 0;
            width: 145px;
            height: 100%;
            background-color: #939a9f;
            -webkit-transition: -webkit-transform 0.3s 0.3s;
            transition: transform 0.3s 0.3s;
            -webkit-perspective: 1000px;
            perspective: 1000px;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        a{

            &.prev{
                div{
                    left: 0;
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }

            &.next{
                div{
                    right: 0;
                    text-align: right;
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }
            }

        }
        h3{
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 0 20px;
            width: 100%;
            height: 30%;
            background: #34495e;
            color: #fff;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 0.75em;
            line-height: 2.75;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webki-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }
        a{
            &:hover div{
                -webkit-transform: translateX(0);
                transform: translateX(0);
                display: none;
            }
            &:hover h3{
                -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s;
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
            }
        }
    }

    /*--------------------*/
    /* Double flip */
    /*--------------------*/

    .nav-doubleflip{
        a{
            -webkit-perspective: 1000px;
            perspective: 1000px;

            &.prev{
                -webkit-perspective-origin: 100% 50%;
                perspective-origin: 100% 50%;
            }
            &.next{
                -webkit-perspective-origin: 0% 50%;
	            perspective-origin: 0% 50%;
            }
        }
        .icon-wrap{
            position: relative;
            z-index: 100;
            display: block;
            line-height: 106px;
            width: 130px;
            height: 100px;
            background-color: #853c07;
            -webkit-transition: background-color 0.3s 0.3s;
            transition: background-color 0.3s 0.3s;
            text-align: center;

            @media #{$large-mobile} {
                line-height: 85px;
                width: 70px;
                height: 82px;
            }

            i{
                font-size: 30px;
                color: #ffffff;
            }
        }
        div {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 0.3s 0.3s;
            transition: transform 0.3s 0.3s;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            @media #{$large-mobile} {
                display: none;
            }
        }
        img ,
        h3{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        h3{
            margin: 0;
            background-color: #853c07;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.3;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
        a{
            &.prev{
                div ,
                h3{
                    left: 100%;
                    -webkit-transform: rotateY(90deg);
                    transform: rotateY(90deg);
                    -webkit-transform-origin: 0% 50%;
                    transform-origin: 0% 50%;
                }
            }

            &.next{
                div ,
                h3{
                    right: 100%;
                    -webkit-transform: rotateY(-90deg);
                    transform: rotateY(-90deg);
                    -webkit-transform-origin: 100% 50%;
                    transform-origin: 100% 50%;
                }
            }

        }

        a{
            &:hover .icon-wrap{
                background-color: #fff;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
            &:hover .icon-wrap i{
                color: $theme-color;
            }
            &:hover div,
            &:hover h3{
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }

            &:hover div{
                -webkit-transition-delay: 0s;
	            transition-delay: 0s;
            }
            &:hover h3{
                -webkit-transition-delay: 0.3s;
	            transition-delay: 0.3s;
            }
        }
    }


    /*--------------------*/
    /* Circle Slider */
    /*--------------------*/
    .nav-circleslide{
        a{
            display: block;
            width: 60px;
            background: #fff;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 22px;
            transition: 0.4s ease-in-out;
            &:hover{
                background: $theme-color;
                color: #fff;
            }
        }
    }

}




/*==========================
    Slider Content
============================*/ 


.slider-navigation-height {
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 40px;
	height: 550px;
	overflow: hidden;
}

.navigation-slider{
    .content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}














