/* ----------------------------
    Vertical Timeline 
-------------------------------*/



.htc-verctimeline-wrapper{

    position: relative;
    margin-top: 30px;
    &.border-syle-2{
        &::before{
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 6px;
            background: #18012c;
            height: 100%;
            margin-left: -1px;
            border-radius: 20px;
        }
    }

    /* Start Single Timeline */
    .ht-ver-timeline{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        padding: 30px 0;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 2px;
            background: #d2d2d2;
            height: 100%;
            margin-left: -1px;
        }

        &:last-child::before{
            display: none;
        }
        .vertical-time{
            width: 50%;
            text-align: right;
            padding: 0 30px;
            position: relative;
            -webkit-align-self: baseline;
            -moz-align-self: baseline;
            -ms-flex-item-align: baseline;
            align-self: baseline;
            position: relative;
            top: -53px;

            &::before{
                position: absolute;
                content: "";
                right: -15px;
                top: 50%;
                margin-top: -15px;
                height: 30px;
                width: 30px;
                border: 7px solid #e98250;
                border-radius: 100%;
                background: #fff;
                transform: translateY(-50%);
            }

            .vertical-date {
                width: 100px;
                border: 13px solid #f88a55;
                text-align: center;
                display: inline-block;
                height: 100px;
                border-radius: 100%;
                background: #fff;
                position: relative;
                top: -12px;
                margin-right: 11px;

                &::before{
                    position: absolute;
                    content: "";
                    left: 115%;
                    top: 56%;
                    margin-top: -15px;
                    height: 10px;
                    width: 10px;
                    border-top: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 15px solid #f58854;
                }
                span{
                    display: block;
                    color: #fc8c56;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    font-family: $heading-font;
                    &.month{
                        margin-top: 7px;
                    }
                }
            }
        }
        .timeline-content{
            padding-left: 123px;
            text-align: left;
            width: 50%;
            position: relative;
            top: -30px;
            @media #{$sm-layout} {
                padding-left: 31px
            }

            &::before{
                position: absolute;
                content: "";
                border-style: dashed;
                left: 25px;
                height: 1px;
                width: 80px;
                border-width: 0 0 2px;
                top: 11px;
                border-color: #f38753;
                @media #{$sm-layout} {
                    display: none;
                }
            }
            p{
                color: #494849;
                font-size: 14px;
                line-height: 28px;
            }
        }
        &.vertical-reverse{
            -webkit-box-direction: reverse;
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            .vertical-time{
                text-align: left;

                &::before{
                    right: auto;
                    left: -15px;
                }
                .vertical-date{
                    margin-right: 0;
                    margin-left: 11px;

                    &::before{
                        right: 115%;
                        left: auto;
                        border-top: 10px solid transparent;
                        border-right: 15px solid #fc8c56;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid transparent;
                    }
                }
            }
            .timeline-content{
                padding-left: 0;
                padding-right: 123px;
                text-align: right;
                @media #{$sm-layout} {
                    padding-right: 31px
                }
                &::before{
                    left: auto;
                    right: 25px;
                }
            }
        }


        &.political-timeline{
            &::before{
                background: #042e6d;
            }
            .vertical-time{
                &::before{
                    border: 7px solid #eb3244;
                }
                .vertical-date {
                    border: 13px solid #eb3244;
                    &::before{
                        border-left: 15px solid #eb3244;
                    }
                    span{
                        color: #eb3244;
                    }
                }
            }
            .timeline-content{
                &::before{
                    border-color: #eb3244;
                }
            }
            &.vertical-reverse{
                .vertical-time{
                    .vertical-date{
                        &::before{
                            border-right: 15px solid #eb3244;
                            border-left: 15px solid transparent;
                        }
                    }
                }
            }
        }






    }







    /* Start Single Timeline */
    .ht-ver-timeline--2{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        padding: 40px 0 0;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 6px;
            height: 100%;
            background: #cf2037;
            left: 50%;
            transform: translateX(-1px);
            top: 0;
            transition: 0.4s ease-in-out;
            opacity: 0;
            border-radius: 20px;
        }

        &:hover::before{
            opacity: 1;
        }
        .vertical-time{
            width: 50%;
            text-align: right;
            padding: 0 40px;
            position: relative;
            -webkit-align-self: baseline;
            -moz-align-self: baseline;
            -ms-flex-item-align: baseline;
            align-self: baseline;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                right: -12px;
                top: 50%;
                margin-top: -15px;
                height: 20px;
                width: 20px;
                border: 6px solid #18012c;
                border-radius: 100%;
                background: #fff;
                transform: translateY(-50%);
                transition: 0.4s ease-in-out;
            }
            .vertical-date {
                span{
                    display: block;
                    color: #18012c;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    font-family: $heading-font;
                    &.month{
                        margin-top: 7px;
                    }
                }
            }
        }

        &:hover .vertical-time::before{
            border: 6px solid #cf2037;
        }

        .timeline-content{
            padding-left: 40px;
            text-align: left;
            width: 50%;
            position: relative;
            h6{
               color: #18012c;
               font-size: 18px;
               font-weight: 700; 
               transition: 0.4s ease-in-out;
            }
            p{
                color: #313131;
                font-size: 15px;
                line-height: 25px;
                font-family: $heading-font;
            }
        }

        &:hover .timeline-content h6{
            color: #cf2037;
        }
        &.vertical-reverse{
            -webkit-box-direction: reverse;
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            .vertical-time{
                text-align: left;
                padding: 0 40px;
                &::before{
                    right: auto;
                    left: -9px;
                }
                .vertical-date{
                    margin-right: 0;
                    margin-left: 11px;
                }
            }
            .timeline-content{
                padding-left: 0;
                padding-right: 40px;
                text-align: right;
            }
        }
    }

    /* Start Single Timeline */
    .ht-ver-timeline--3{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 3px;
            background: #f4f4f4;
            height: 100%;
            margin-left: -2px;
        }
        &:last-child::before{
            display: none;
        }
        .vertical-time{
            width: 50%;
            text-align: right;
            padding: 0 40px;
            position: relative;
            -webkit-align-self: baseline;
            -moz-align-self: baseline;
            -ms-flex-item-align: baseline;
            align-self: baseline;
            position: relative;
            .vertical-date {
                span{
                    display: block;
                    color: #18012c;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 28px;
                    font-family: "Montserrat", sans-serif;
                    position: absolute;
                    left: 94%;
                    width: 60px;
                    height: 60px;
                    background: #f4f4f4;
                    text-align: center;
                    line-height: 60px;
                    border-radius: 100%;
                    top: 0;
                    @media #{$sm-layout} {
                        left: 88%;
                    }
                }
            }
        }

        .timeline-content{
            padding-left: 67px;
            text-align: left;
            width: 50%;
            position: relative;
            top: -139px;

            .content{
                background: #ffffff;
                box-shadow: 0 0 97px rgba(0, 0, 0, 0.1);
                padding: 38px 30px;
                position: relative;
                
                @media #{$sm-layout} {
                    padding: 15px 14px;
                }
                &::before{
                    right: 100%;
                    left: auto;
                    border-top: 10px solid transparent;
                    border-right: 20px solid #ffffff;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid transparent;
                    position: absolute;
                    content: "";
                    top: 82%;
                    margin-top: -15px;
                    height: 10px;
                    width: 10px;
                }
            }
            h6{
               color: #18012c;
               font-size: 18px;
               font-weight: 700; 
               transition: 0.4s ease-in-out;
               margin-bottom: 8px;
            }
            p{
                color: #18012c;
                font-size: 14px;
                line-height: 28px;
            }
        }

        &.vertical-reverse{
            -webkit-box-direction: reverse;
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            .vertical-time{
                text-align: left;
                padding: 0 40px;
                .vertical-date{
                    span{
                        left: auto;
                        right: 94%;
                        @media #{$sm-layout} {
                            right: 88%;
                        }
                    }
                }
            }
            .timeline-content{
                padding-right: 67px;
                text-align: right;
                padding-left: 0;
                .content{
                    &::before{
                        left: 100%;
                        right: auto;
                        border-top: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 15px solid #ffffff;
                    }
                }
            }
        }
    }
}






















