/*======================================
    Video Player Style One
=======================================*/

/*======================================
    Video Player Style
=======================================*/


.player-style-1 {
    iframe {
        width: 830px;
        height: 480px;
        border: 0 none;

        @media #{$md-layout} {
            width: 100%;
            height: auto;
        }
        @media #{$sm-layout} {
            width: 100%;
            height: auto !important;
        }
    }
}

/*======================================
    Video Player Style Two
=======================================*/

.player-style-2 {
    padding: 200px 0;
    text-align: center;

    @media #{$md-layout} {
        padding: 100px 0;
    }
    @media #{$sm-layout} {
        padding: 100px 0;
    }

    .play__btn {
        border: 0 none;
        background: #fff;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        font-size: 40px;
        color: $theme-color;
        display: inline-block;
        line-height: 90px;
        transition: 0.5s ease-in-out;

        &:hover {
            transform: scale(1.2);
            background: $theme-color;
            color: #fff;
        }

        i {
            margin-left: 10px;
        }
    }
}


/*======================================
    Video Player Style Three
=======================================*/

.player-style-3 {
    .content {
        padding: 230px 0;
        text-align: center;

        @media #{$md-layout} {
            padding: 118px 0;
        }
        @media #{$sm-layout} {
            padding: 118px 0;
        }

        p {
            color: #ffffff;
            font-size: 16px;
            margin-bottom: 10px;
        }
        h2 {
            color: #ffffff;
            font-size: 30px;
            font-weight: 600;
            padding: 0 29%;
            line-height: 42px;
            margin-bottom: 34px;

            @media #{$md-layout} {
                padding: 0 13%;
            }
            @media #{$sm-layout} {
                padding: 0 13%;
            }
            
            @media #{$small-mobile} {
                font-size: 22px;
                line-height: 37px;
            }

        }

        a {
            &.play-video {
                color: #000000;
                font-weight: 500;
                font-size: 14px;
                background: #fafafa;
                height: 47px;
                display: inline-block;
                padding: 0 33px;
                line-height: 49px;
                border-radius: 23px;
                transition: 0.5s ease-in-out;

                &:hover {
                    border-radius: 0;
                    background: $theme-color;
                    color: #ffffff;
                }
            }
        }
    }
}


// Slider Video Play


.play-video,
a.play-video,
button.play-video {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    background: #fafafa;
    height: 47px;
    display: inline-block;
    padding: 0 33px;
    line-height: 49px;
    border-radius: 23px;
    transition: 0.5s ease-in-out;

    &:hover {
        border-radius: 0;
        background: $theme-color;
        color: #ffffff;
    }
}