ge{% extends 'layouts/base_sign.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Login Via SMS' %} | Warpp
{% endblock %}

{% block container %}

    <div class="app-login-box-title padding-top-40">
    {% block extrahead %}
        {# // <script src="{% static 'js/account_kit.js' %}"></script> #}
        <script src="https://sdk.accountkit.com/en_ES/sdk.js"></script>

<script type="text/javascript">
      // initialize Account Kit with CSRF protection
  AccountKit_OnInteractive = function(){
    AccountKit.init(
      {
        appId:1116903005090333,
        state:"abcd",
        version:"v1.0"
      }
      //If your Account Kit configuration requires app_secret, you have to include ir above
    );
  };
  // login callback
  function loginCallback(response) {
    console.log(response);
    if (response.status === "PARTIALLY_AUTHENTICATED") {
      document.getElementById("code").value = response.code;
      document.getElementById("csrf_nonce").value = response.state;
      document.getElementById("my_form").submit();
    }
    else if (response.status === "NOT_AUTHENTICATED") {
      // handle authentication failure
      console.log("Authentication failure");
    }
    else if (response.status === "BAD_PARAMS") {
      // handle bad parameters
      console.log("Bad parameters");
    }
  }
  // phone form submission handler
  function phone_btn_onclick() {
    // you can add countryCode and phoneNumber to set values
    AccountKit.login('PHONE', {}, // will use default values if this is not specified
      loginCallback);
  }

</script>
    {% endblock %}
        <div class="title">{% trans 'Login via SMS' %}</div>
    </div>

    <div class="app-login-box-container">
        <p>
            {% blocktrans %}
                Inicia sesión  con el <b>número de tu móvil.</b>
            {% endblocktrans %}
        </p>

        {# <button class="btn btn-success btn-block" onclick="phone_btn_onclick();">Login via SMS</button> #}
        <div class="buttons">
        <form action="" method="POST" id="my_form">
        <input type="hidden" name="code" id="code">
        <input type="hidden" name="csrf_nonce" id="csrf_nonce">
        </form>
          <button class="btn btn-success btn-block" onclick="phone_btn_onclick();">Login por SMS</button>
        </div>
    </div>

{% endblock %}
