{% load static i18n %}
<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/xiberty" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/xiberty" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/xiberty" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://twitter.com/xiberty" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; {% trans 'Todos los derechos reservados' %}</li>


        <li><b>Gecko</b> {% trans 'es creado con' %} ❤ {% trans 'en' %} <a href="http://xiberty.com">Xiberty</a></li>
    </ul>
</footer>