
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-youtube: #ff0000;
$color-whatsapp: #4dc247;


.btn-facebook {
    background-color: $color-facebook;
    color: white;
    &:hover {
        color: white;
        background-color: darken($color-facebook, 8%);
    }
}
.btn-google {
    background-color: $color-google;
    color: white;
    &:hover {
        color: white;
        background-color: darken($color-google, 8%);
    }
}