{% load static i18n %}
<!DOCTYPE html>

<html lang="es" >
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} | {{ project_name }}</title>

		<meta name="description" content="{{ project_description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
            WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {sessionStorage.fonts = true;}
            });
		</script>
		<!--end::Web font -->

        <!--begin::Base Styles -->
		<link href="{% static 'dist/vendors/base.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'dist/base/styles.bundle.css' %}" rel="stylesheet" type="text/css" />

		<!--end::Base Styles -->
		<link rel="shortcut icon" href="{% static 'dist/ico/favicon.ico' %}" />
        {% block styles %}{% endblock %}
	</head>

	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >


        <!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login"
                 style="background-image: url({% static 'dist/media/bg/pattern.jpg' %});">
				<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
					<div class="m-login__container">
                        {% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Page -->

    	<!--begin::Base Scripts -->
		<script src="{% static 'dist/vendors/base.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'dist/base/scripts.bundle.js' %}" type="text/javascript"></script>
		<!--end::Base Scripts -->

        {% block scripts %}{% endblock %}
	</body>
</html>
