{% extends 'landing/layouts/base.html' %}
{% load static i18n %}

{% block title %}Inicio{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <!-- HEADER -->
        {% include "landing/partials/header.html" %}

        <section id="banner" style="background-image: url('{% static 'landing/images/overlay.png' %}'), url('{% static 'landing/images/banner.jpg' %}');">
            <h2>Gecko</h2>
            <p>Plantilla Django con esteroides</p>
            <ul class="actions">

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:dashboard' %}" class="button special">
                            {% trans 'Panel de Control' %}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}" class="button special">
                            {% trans 'Crear cuenta' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}" class="button">
                            {% trans 'Iniciar Sesión' %}
                        </a>
                    </li>
                {% endif %}

            </ul>
        </section>

        <section id="main" class="container">



            <section class="box special features">
                <div class="features-row">
                    <section>
                        <span class="icon major fa-bolt accent2"></span>
                        <h3>{% trans 'Fatest' %}</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus</p>
                    </section>
                    <section>
                        <span class="icon major fa-code accent1"></span>
                        <h3>{% trans 'Service Oriented' %}</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus</p>
                    </section>
                </div>
                <div class="features-row">
                    <section>
                        <span class="icon major fa-cloud accent1"></span>
                        <h3>{% trans 'Twelve Factor based' %}</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus</p>
                    </section>
                    <section>
                        <span class="icon major fa-server accent2"></span>
                        <h3>{% trans 'Containerized' %}</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus</p>
                    </section>
                </div>
            </section>


        </section>

        {% include "landing/partials/cta.html" %}

        {% include "landing/partials/footer.html" %}

    </div>
{% endblock %}
