
/* ====================
    Event Style 
========================*/

.ht-event {
    display: flex;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 10px;
    align-items: center;

    @media #{$sm-layout} {
        flex-wrap: wrap;
    }
    .thumb {
        position: relative;
        flex-basis: 50%;

        @media #{$lg-layout} {
            flex-basis: 30%;
        }
        @media #{$sm-layout} {
            flex-basis: 100%;
        }

        a{
            img{
                width: 100%;
            }
        }
        .event-date {
            position: absolute;
            top: 0;
            right: -13px;
            background: #141414;
            width: 60px;
            padding: 8px 0;
            color: #fff;
            text-align: center;
            span{
                display: block;
                font-size: 20px;
                font-weight: 500;
                font-style: italic;
            }
        }
    }
    
    .content {
        flex-basis: 50%;
        padding-left: 27px;
        
        @media #{$sm-layout} {
            flex-basis: 100%;
            padding-left: 0;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h4 {
            font-size: 18px;
            a {
                color: #333333;
                transition: 0.4s ease-in-out;
                &:hover{
                    color: $education-theme-color;
                }
            }
        }
        ul{
            &.event-time {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                li{
                    color: #333333;
                    font-size: 14px;
                    i{
                        color: $education-theme-color;
                        padding-right: 10px;
                    }
                    & + li{
                        padding-left: 15px;
                        margin-left: 15px;
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            background: #333333;
                            height: 15px;
                            width: 2px;
                            left: 0;
                            top: 28%; 
                        }
                    }
                }
            }
        }
        p{
            color: #333333;
            font-size: 14px;
            line-height: 24px;
            margin-top: 10px;
        }
        .event-btn{
            a{
                color: #333333;
                font-size: 14px;
                border-bottom: 1px solid #333333;
                font-weight: 500;
                transition: 0.4s ease-in-out;
                &:hover{
                    border-bottom: 1px solid $education-theme-color;
                    color: $education-theme-color;
                }
            }
        }
    }

    &.charity-event{
        .content {
            h4 {
                a {
                    &:hover{
                        color: $charity-theme-color;
                    }
                }
            }
            ul{
                &.event-time {
                    li{
                        i{
                            color: $charity-theme-color;
                        }
                    }
                }
            }
            
            .event-btn{
                a{
                    &:hover{
                        border-bottom: 1px solid $charity-theme-color;
                        color: $charity-theme-color;
                    }
                }
            }
        }
    }
}



















