/*----------------------
 * Header
-----------------------*/

.header--transparant {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 9999;
}



/* Maninmenu Style */
.mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
        margin: 0 15px;

        a {
            color: #ffffff;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.4s ease-in-out;

            &:hover {
                color: #f05b64;
            }
        }
    }

    &.agency-menu {

        li {
            a {
                color: #525252;
                height: 120px;
                line-height: 120px;
                display: block;
                position: relative;

                @media #{$md-layout} {
                    height: auto;
                    line-height: initial;
                }

                @media #{$sm-layout} {
                    height: auto;
                    line-height: initial;
                }



                &::before {
                    position: absolute;
                    content: "";
                    background: $agency-theme-color;
                    top: 0;
                    height: 2px;
                    width: 0;
                    transition: 0.4s ease-in-out;
                }

                &:hover {
                    color: $agency-theme-color;
                }
            }

            &:hover a::before {
                width: 100%;
            }
        }
    }

    &.education-menu {
        li {
            a {
                color: #525252;
                display: block;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background: $education-theme-color;
                    top: 0;
                    height: 2px;
                    width: 0;
                    transition: 0.4s ease-in-out;
                }

                &:hover {
                    color: $education-theme-color;
                }
            }

            &:hover a::before {
                width: 100%;
            }
        }
    }

}




.header {

    /* Header Style 1 */
    &.header-1 {
        .logo {
            @media #{$small-mobile} {
                margin-bottom: 30px;
                text-align: center !important;
            }
        }

        // Header Mainmenu
        .mainmenu_nav {
            .mainmenu {
                margin: 0 -20px;

                >li {
                    margin: 0 20px;

                    a {
                        font-size: 14px;
                        font-family: $heading-font;
                        transition: 0.4s ease-in-out;

                    }

                    &:hover>a {
                        color: #d94f5c;
                    }
                }
            }
        }

        // Header Btn
        .cleaning-btn,
        .header-btn {
            margin-left: 50px;

            a {
                &.cln-btn {
                    height: 42px;
                    padding: 0 31px;
                    line-height: 39px;
                }
            }
        }

        // Gardening Header

        &.gardening-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color: $gardening-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        &:hover {
                            background: $gardening-theme-color;
                            border: 2px solid $gardening-theme-color;
                        }
                    }
                }
            }
        }


        // Event Header
        &.event-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover >a {
                        color: $event-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        &:hover {
                            background: $event-theme-color;
                            border: 2px solid $event-theme-color;
                        }
                    }
                }
            }
        }

        // Repair Header
        &.rapair-header {
            .mainmenu {
                > li {
                    > a {
                        color: #2f2f2f;
                    }

                    &:hover > a {
                        color: $repair-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $repair-theme-color;
                        border: 2px solid $repair-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $repair-theme-color;
                            color: $repair-theme-color;
                        }
                    }
                }
            }
        }

        // Politic Header
        &.header-politic {
            .mainmenu {
                > li {
                    > a {
                        color: #2f2f2f;
                    }

                    &:hover > a {
                        color: $political-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $political-theme-color;
                        border: 2px solid $political-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $political-theme-color;
                            color: $political-theme-color;
                        }
                    }
                }
            }
        }

        // Travel Header
        &.header-travel {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color: $travel-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $travel-theme-color;
                        border: 2px solid $travel-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $travel-theme-color;
                            color: $travel-theme-color;
                        }
                    }
                }
            }
        }

        // Travel Header
        &.carpenter-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color: $carpen-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    background: $carpen-theme-color;
                    border: 2px solid $carpen-theme-color;
                    color: #fff;
                    line-height: 34px;
                    &:hover {
                        background: transparent;
                        border: 2px solid $carpen-theme-color;
                        color: $carpen-theme-color;
                    }
                }
            }
        }

        // Travel Header
        &.header-construction {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color:#fab702;
                    }
                }
            }

            .header-btn {
                a {
                    background:#fab702;
                    border: 2px solid#fab702;
                    color: #fff;
                    line-height: 38px;
                    &:hover {
                        background: transparent;
                        border: 2px solid#fab702;
                        color:#fab702;
                    }
                }
            }
        }

        // Travel Header
        &.corporate-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color:#4656ca;
                    }
                }
            }

            .header-btn {
                a {
                    background:#4656ca;
                    border: 2px solid#4656ca;
                    color: #fff;
                    line-height: 38px;
                    &:hover {
                        background: transparent;
                        border: 2px solid#4656ca;
                        color:#4656ca;
                    }
                }
            }
        }

        // Education Header
        &.education-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                    }

                    &:hover > a {
                        color:#56a4b1;
                    }
                }
            }

            .header-btn {
                a {
                    background:#56a4b1;
                    border: 2px solid#56a4b1;
                    color: #fff;
                    line-height: 38px;
                    &:hover {
                        background: transparent;
                        border: 2px solid#56a4b1;
                        color:#56a4b1;
                    }
                }
            }
        }


        // Travel Header
        &.header-charity {
            .mainmenu {
                > li {
                    > a {
                        color: #2f2f2f;
                        font-weight: 500;
                        font-family: $heading-font;
                    }

                    &:hover > a {
                        color: $charity-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $charity-theme-color;
                        border: 2px solid $charity-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $charity-theme-color;
                            color: $charity-theme-color;
                        }
                    }
                }
            }
        }

        // Software Header
        &.software-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $heading-font;
                    }

                    &:hover > a {
                        color: $software-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $software-theme-color;
                        border: 2px solid $software-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $software-theme-color;
                            color: $software-theme-color;
                        }
                    }
                }
            }
        }

        // Software Header
        &.resturant-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $heading-font;
                    }

                    &:hover > a {
                        color: $resturant-theme-color;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: $resturant-theme-color;
                        border: 2px solid $resturant-theme-color;
                        color: #fff;

                        &:hover {
                            background: transparent;
                            border: 2px solid $resturant-theme-color;
                            color: $resturant-theme-color;
                        }
                    }
                }
            }
        }

        // Software Header
        &.hosting-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $heading-font;
                    }

                    &:hover > a {
                        color: #ffffff;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: #ffffff;
                        border: 2px solid #ffffff;
                        color: #4554c7;

                        &:hover {
                            background: transparent;
                            border: 2px solid #ffffff;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        // Software Header
        &.real-header {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $heading-font;
                    }
                    &:hover > a {
                        color: #cda659;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: #cda659;
                        border: 2px solid #cda659;
                        color: #ffffff;

                        &:hover {
                            background: transparent;
                            border: 2px solid #ffffff;
                            color: #ffffff;
                        }
                    }
                }
            }
        }




    }

    /* Header Style 2 */
    &.header-2 {
        .header-top {
            border-bottom: 1px solid #eeeeee;

            .top-left {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    list-style: none;

                    li {
                        color: #acabab;
                        font-size: 13px;
                        font-family: 'Open Sans', sans-serif;
                        margin-right: 40px;

                        @media #{$md-layout} {
                            margin-right: 14px;
                        }

                        @media #{$sm-layout} {
                            margin-right: 14px;
                        }

                    }
                }
            }

            .social-transparent {
                a {
                    margin-bottom: 0;
                }
            }
        }

        .logo {
            a {
                height: 100px;
                line-height: 100px;
                display: block;

                @media #{$md-layout} {
                    height: 70px;
                    line-height: 70px;
                }

                @media #{$sm-layout} {
                    height: 70px;
                    line-height: 70px;
                }
            }
        }
    }

    &.header-4 {
        .mainmenu {
            li {
                a {
                    position: relative;
                    padding-bottom: 12px;
                    color: #ffffff;
                    font-family: $heading-font;
                    font-size: 14px;

                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        background: $construction-theme-color;
                        width: 0;
                        height: 2px;
                        transition: 0.4s ease-in-out;
                    }
                }

                &:hover a {
                    color: $construction-theme-color;
                }

                &:hover a::before {
                    width: 100%;
                }
            }
        }

        .social-share {
            a {
                color: #ffffff;
            }
        }
    }

}




/* Header Style One */

.header-1 {

    .cleaning-btn,
    .header-btn {
        margin-left: 50px;

        @media #{$md-layout} {
            margin: 0;
            margin-right: 100px;
        }

        @media #{$sm-layout} {
            margin: 0;
            margin-right: 100px;
        }

        @media #{$small-mobile} {
            margin: 0;
            margin-right: 50px;
        }
    }
}

.header {

    &.header-1 {
        >.container {
            >.row {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;

                >.cuscol {
                    -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    position: static;

                    @media #{$small-mobile} {
                        flex-basis: 100%;
                    }
                }

                &:first-child {
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                }
            }
        }
    }

    &.header-2 {
        >.container {
            >.row {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;

                >.cuscol {
                    -webkit-box-flex: 0;
                    -ms-flex-positive: 0;
                    flex-grow: 0;
                    position: static;
                }

                &:first-child {
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                }
            }
        }
    }

}




/*=======================
 Startic Header 
========================*/

.header-1 {
    &.header--static {
        .logo {
            a {
                display: block;
                height: 100px;
                line-height: 100px;
            }
        }
        .mainmenu_nav {
            .mainmenu {
                > li {
                    > a {
                        height: 100px;
                        line-height: 100px;
                        color: #555555;
                        font-family: $heading-font;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
        // Beauty Salon Header
        &.beauty-theme-color {
            .mainmenu {
                > li {
                    > a {
                        color: #ffffff;
                        font-weight: 500;
                        font-family: $heading-font;
                    }
                    &:hover > a {
                        color: #ffffff;
                    }
                }
            }

            .header-btn {
                a {
                    &.cln-btn {
                        background: #ffffff;
                        border: 2px solid #ffffff;
                        color: #ff759d;

                        &:hover {
                            background: transparent;
                            border: 2px solid #ffffff;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }


    /* Medical Header */

    &.medical-header {
        .mainmenu_nav {
            .mainmenu {
                > li {
                    > a {
                        &:hover {
                            color: $medical-theme-color;
                        }
                    }
                }
            }
        }

        .header-btn {
            .cln-btn {
                background: $medical-theme-color;
                border: 2px solid $medical-theme-color;
                color: #fff;

                &:hover {
                    background: transparent;
                    color: $medical-theme-color;
                    border: 2px solid $medical-theme-color;
                }
            }
        }
    }

    /* Agency Header */

    &.agency-header {
        .mainmenu_nav {
            .mainmenu {
                li {
                    a {
                        &:hover {
                            color: #702bc6;
                        }
                    }
                }
            }
        }

        .header-btn {
            a {
                background: #702bc6;
                border: 2px solid #702bc6;
                color: #fff;
                line-height: 31px;
                &:hover {
                    background: transparent;
                    color: #702bc6;
                    border: 2px solid #702bc6;
                }
            }
        }
    }


    /* Portfolio Header */
    &.portfolio-header {
        .mainmenu_nav {
            .mainmenu {
                li {
                    a {
                        color: #393939;
                        font-size: 15px;
                        font-weight: 500;

                        &:hover {
                            color: $portfolio-theme-color;
                        }
                    }
                }
            }
        }

        .header-btn {
            .cln-btn {
                background: $portfolio-theme-color;
                border: 2px solid $portfolio-theme-color;
                color: #fff;

                &:hover {
                    background: transparent;
                    color: $portfolio-theme-color;
                    border: 2px solid $portfolio-theme-color;
                }
            }
        }
    }


    /* Portfolio Header */
    &.body-header {
        .mainmenu_nav {
            .mainmenu {
                li {
                    a {
                        color: #393939;
                        font-size: 15px;
                        font-weight: 500;

                        &:hover {
                            color: $body-theme-color;
                        }
                    }
                }
            }
        }

        .header-btn {
            a {
                background: $body-theme-color;
                border: 2px solid $body-theme-color;
                color: #fff;
                line-height: 34px;
                &:hover {
                    background: transparent;
                    color: $body-theme-color;
                    border: 2px solid $body-theme-color;
                }
            }
        }
    }

    



}




/* -------------------------------------
    Mega Menu For All Element Page 
----------------------------------------*/

.with-mega-menu {
    &.forall-element-page {
        .mainmenu {
            li {
                &.drop {
                    position: static;

                    .mega-menu {
                        &.mega-menu-full-width {
                            width: 100%;
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
    }
}






/* -----------------------------
Line Menu 
---------------------------------*/

.linemenu.mean-container a.meanmenu-reveal {
    color: #000;
}

.linemenu.mean-container a.meanmenu-reveal span {
    background: #000;
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 991px) {
    .js #menu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }
}





/* Mobile Menu Style */

.mobile-menu {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 0 100% !important;
    flex: 1 0 100% !important;
}

.mobile-menu .mean-bar .meanmenu-reveal,
.mean-container a.meanmenu-reveal.meanclose {
    position: absolute;
    top: -49px;
}

@media #{$sm-layout} {
    .mean-container .mean-nav {
        margin-top: 32px;
    }
}








/* Header Default */

.header {
    .purchase_btn {
        a {
            height: 36px;
            padding: 0 17px;
            background: #ffffff;
            display: inline-block;
            line-height: 37px;
            color: #18012c;
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 5px;
            letter-spacing: 1px;
            transition: 0.4s ease-in-out;

            &:hover {
                background: #f05b64;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                color: #fff;
            }
        }
    }
}












/* Header Mobile Menu */

.header-2 .mean-container .mean-bar {
    min-height: 1px;
}

.header-2 .mobile-menu .mean-bar .meanmenu-reveal,
.header-2 .mean-container a.meanmenu-reveal.meanclose {
    position: absolute;
    top: -68px;
}

.header-2 .mean-container a.meanmenu-reveal span {
    background: #000;
}

.header-2 .mean-container a.meanmenu-reveal {
    color: #000;
}

.header-2 .mean-container .mean-nav {
    margin-top: 0;
}
.with-mega-menu.forall-element-page .mainmenu li.drop.withdropdown {
    position: relative !important;
}
.with-mega-menu li.drop .mega-menu.dropdown {
    width: 415px;
    right: auto;
}

















@media only screen and (max-width: 767px) {
    .header-2 .mean-container .mean-nav {
        margin-top: 0;
    }
}

.header-2 .mean-container .mean-nav ul {
    padding-bottom: 0;
}























@media #{$md-layout}{
    .header--static .mean-container .mean-bar{
        min-height: inherit;
    }
    
    .header--static .mobile-menu .mean-bar .meanmenu-reveal,
    .header--static .mean-container a.meanmenu-reveal.meanclose {
        position: absolute;
        top: -81px;
    }
    
    .header--static .mean-container a.meanmenu-reveal{
        color: #000;
    }
    
    .header--static .mean-container a.meanmenu-reveal span{
        background: #000;
    }
    .header--static .mean-container .mean-nav{
        margin-top: 0;
    }
}


@media #{$sm-layout}{
    .header--static .mean-container .mean-bar{
        min-height: inherit;
    }
    
    .header--static .mobile-menu .mean-bar .meanmenu-reveal,
    .header--static .mean-container a.meanmenu-reveal.meanclose {
        position: absolute;
        top: -81px;
    }
    
    .header--static .mean-container a.meanmenu-reveal{
        color: #000;
    }
    
    .header--static .mean-container a.meanmenu-reveal span{
        background: #000;
    }
    .header--static .mean-container .mean-nav{
        margin-top: 0;
    }
}

@media #{$small-mobile}{
    .header--static .mobile-menu .mean-bar .meanmenu-reveal,
    .header--static .mean-container a.meanmenu-reveal.meanclose {
        position: absolute;
        top: -52px;
        right: 6px !important;
    }
    .header-1.header--static .logo a {
        height: 54px;
        line-height: 76px;
    }
    .header-1.header--static {
        padding: 0 0 20px 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}




/* =======================
    Breadcaump Area 
==========================*/

.bradcaump_area {
    display: flex;
    height: 300px;
    align-items: center;
    padding-top: 78px;

    .bradcaump-title {
        font-weight: 600;
        color: #ffffff;
    }
}