
/* Welcome Style */





.gardening-welcome{
    .content{
        h4 {
            color: #404040;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 23px;

            @media #{$sm-layout} {
                font-size: 23px;
                margin-bottom: 17px;
                margin-top: 11px;
            }
        }
        p {
            color: #5b5b5b;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 28px;

            @media #{$sm-layout} {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 18px;
            }
            
        }
        .more-about-btn{
            a {
                color: #404040;
                font-size: 14px;
                display: inline-block;
                font-weight: 700;
                border-bottom: 1px solid #404040;
                transition: 0.4s ease-in-out;
                font-family: $heading-font;
                &:hover{
                    color: $gardening-theme-color;
                    border-bottom: 1px solid $gardening-theme-color;
                }
            }
        }
    }
}



/* Event Welcome Area */

.event-welcome{
    .content{
        span{
            color: $event-theme-color;
            font-family: $heading-font;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 500;
        }
        h4 {
            color: #464646;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 9px;
            margin-top: 9px;
            span{
                color: $event-theme-color;
            }
            @media #{$sm-layout} {
                font-size: 23px;
                margin-bottom: 17px;
                margin-top: 11px;
            }
        }
        p {
            color: #666666;
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 28px;

            @media #{$sm-layout} {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 18px;
            }

        }
        .more-about-btn{
            margin: 0 -8px;
            @media #{$sm-layout} {
                text-align: center
            }
            a {
                background: #464646;
                color: #ffffff;
                font-size: 14px;
                display: inline-block;
                font-weight: 500;
                transition: 0.4s ease-in-out;
                font-family: $heading-font;
                padding: 0 40px;
                height: 48px;
                line-height: 48px;
                letter-spacing: 1px;
                border-radius: 23px;
                margin: 0 8px;

                @media #{$small-mobile} {
                    margin-bottom: 20px;
                }

                &:hover{
                    background: $event-theme-color;
                }
            }
        }
    }
}




/* Portfolio About Me Area */

.portfolio-aboutme{
    .content{
        
        h4 {
            color: #000000;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 5px;
            @media #{$sm-layout} {
                font-size: 23px;
            }
        }
        span{
            font-family: $heading-font;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 600;
            color: #000000;
        }
        
        p {
            color: #000000;
            font-size: 14px;
            line-height: 26px;
            margin: 0;
            margin-top: 18px;
        }
        .follow-me{
            display: flex;
            align-items: center;
            margin-top: 22px;
            a{
                margin: 0;
            }
            span{
                display: inline-block;
                color: #000000;
                font-family: $heading-font;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .thumb {
        position: relative;
        display: inline-block;
        z-index: 2;
        &::before {
            position: absolute;
            content: "";
            border: 10px solid #f4f4f4;
            width: 100%;
            height: 100%;
            left: 72px;
            top: 72px;
            z-index: -1;
            margin-left: -37px;
            margin-top: -37px;
        }
    }
}



/* Portfolio About Me Area */

.corporate-feature{
    position: relative;
    .content{
        padding-bottom: 110px;
        h2 {
            color: #ffffff;
            font-size: 30px;
            font-weight: 600;
            line-height: 47px;
            margin-bottom: 10px;
        }
        p {
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style: none;
            margin: 0;
            li {
                color: #ffffff;
                font-size: 14px;
                line-height: 26px;
                display: flex;
                i{
                    margin-top: 5px;
                    padding-right: 12px;
                }
            }
        }
       
    }
    .thumb {
        position: absolute;
        right: -11%;
        bottom: -36%;
    }
}





/* Repair Area */

.reapir-about-area {
    position: relative;
    z-index: 2;
    .shape {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
    .thumb {
        position: relative;
        text-align: center;
        .rp-player {
            position: absolute;
            top: 50%;
            z-index: 3;
            width: 100px;
            height: 100px;
            background: #43c3ea;
            left: 4px;
            color: #fff;
            border-radius: 100%;
            text-align: center;
            line-height: 100px;
            font-size: 36px;
            transition: 0.4s ease-in-out;
            transform: translateY(-50%) scale(1);

            &:hover {
                opacity: 0.8;
                transform: translateY(-50%) scale(0.9);
            }
            a {
                display: block;
            }
        }
    }
    .content{
        p {
            color: #3a3a3a;
            font-size: 16px;
            line-height: 30px;
            margin-top: 9px;
        }
        .address {
            display: flex;
            margin-top: 40px;
            p {
                color: #3d3d3d;
                font-size: 18px;
                margin: 0;
                font-family: $heading-font;

                i {
                    background: #152545;
                    color: #fff;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    line-height: 42px;
                    border-radius: 100%;
                    margin-right: 15px;
                    transition: 0.4s ease-in-out;
                }
                &:hover i{
                    background: $repair-theme-color;
                }
                
                & + p{
                    margin-left: 30px;
                }
            }
        }
    }
}

























