{% load static %}


<link rel="apple-touch-icon" sizes="180x180" href="{% static 'dist/ico/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/ico/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/ico/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'dist/ico/manifest.json' %}">
<link rel="mask-icon" href="{% static 'dist/ico/safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'dist/ico/favicon.ico' %}">
<meta name="theme-color" content="#ffffff">