{% load static %}
<!-- START SCRIPTS -->
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-select/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/select2/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/maskedinput/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/form-validator/jquery.form-validator.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/noty/jquery.noty.packaged.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/knob/jquery.knob.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/sparkline/jquery.sparkline.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/morris/raphael.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/morris/morris.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/rickshaw/d3.v3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/rickshaw/rickshaw.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/isotope/isotope.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/dropzone/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/nestable/jquery.nestable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/cropper/cropper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/tableexport/tableExport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jquery.base64.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/html2canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/libs/sprintf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/jspdf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/tableexport/jspdf/libs/base64.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/bootstrap-daterange/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-tour/bootstrap-tour.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/fullcalendar/fullcalendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/smartwizard/jquery.smartWizard.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app_plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app_demo.js' %}"></script>
<!-- END SCRIPTS -->