{% extends "emails/base.html" %}
{% load account i18n %}
{% user_display user as user_display %}

{% block title %}
    {% trans "Bienvenido" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block message_title %}Bienvenido a Gecko {{ user }}!{% endblock %}

        {% block message_body %}
            <p style="color:#5b5f65; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif">
            {% blocktrans %}
                Hiciste una buena elección! creaste una nueva cuenta en Gecko. <br>
                Pero no nos hagas caso, ahora podrás comprobarlo por tí mismo <br><br>
                Esperamos que disfrutes las comodidades y facilidades que te brinda nuestra plataforma <br>
                Saludos!.
            {% endblocktrans %}
            </p>
        {% endblock %}

        {% block action %}{% endblock %}

        {% block extra_link %}
        {% endblock %}

    {% endwith %}
{% endautoescape %}

















{#{% extends "emails/base.html" %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h1>WELCOME</h1>#}
{#</body>#}
{#</html>#}