{% load i18n static %}
<nav>
    <ul>
        <li class="title">{% trans 'NOMBRE DE ORGANIZACION' %}
        {{ session }}
        </li>
        <li>
            <a class="{% if menu == 'dashboard' %}active{% endif %}"
            href="{% url 'events:view-dashboard' %}">
                <span class="fa fa-magic"></span>
                {% trans 'EVENTOS' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == 'settings' %}active{% endif %}"
            href="{% url 'users:view-settings' %}">
                <span class="fa fa-newspaper-o"></span>
                {% trans 'MACRO-EVENTOS' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == 'location' %}active{% endif %}"
            href="{% url 'events:list-location' %}">
                <span class="fa fa-map-o"></span>
                {% trans 'LUGARES' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == 'cost' %}active{% endif %}"
            href="{% url 'events:list-cost' %}">
                <span class="fa fa-money"></span>
                {% trans 'COSTOS' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == "contact" %}active{% endif %}"
            href="{% url 'events:list-contact' %}">
                <span class="fa fa-group"></span>
                {% trans 'COLABORADORES' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == "ticket" %}active{% endif %}"
            href="{% url 'users:view-settings' %}">
                <span class="fa fa-ticket"></span>
                {% trans 'RESERVAS' %}
            </a>
        </li>
        <li>
            <a class="{% if menu == "ticket" %}active{% endif %}"
            href="{% url 'events:list-roles' %}">
                <span class="fa fa-ticket"></span>
                {% trans 'ROLES' %}
            </a>
        </li>
    </ul>
</nav>
{% block extra_js %}
{% endblock %}
